:root,
[data-theme] {
  --color-primary: #ffffff;
  --color-secondary: #8f8f8f;
  --color-text: #f0f0f0;
  --color-text-offset: #8f8f8f;
  --color-background: #0b0b0b;
  --color-background-offset: #111111;
  --color-border: rgba(255, 255, 255, 0.07);
}
